.DS_Store
.idea/
venv/
~$*
Data/Materials/**/*.matp
Data/Materials/**/*.xml
/Input/input_ablative.xml
Solution/
Input/Working/
Hot-STARSHIP_out_*.csv
Testing/compare_to_PATO_Temperature.py
Data/HeatFlux/
Data/Materials/
Testing/
/*.csv
Working/
Input/**/*.xml
Input/**/output.csv